.idea
*.sqlite-shm
scripts/create_subscriptions.sh
scripts/delete_subscriptions.sh
venv
cmd/test
configs/kafka_brokers.json
kubernetes/.packaged

# Prevent certificates from getting checked in
*.ca
*.cer
*.crt
*.csr
*.key
*.pem